.div-container{
   display: flex;
}

.divin{
   border: 4px solid blue;
   background-color: red;
   height: 100px;
   flex: 5;
   flex-grow: 1;
}

.dicon{
   display: flex;
   flex-direction: column;
   flex: 5;
   flex-basis: 200px;
}